h1{
    padding: 0;
    margin: 0;
}
.quality-period-container{
    width:100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quality-period-inner-container{
    width: 75%;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quality-period-inner-container > h1{
    font-family: "Manrope";
    font-size:36px;
    line-height: 49.18px;
    font-weight: 800;
    color:#000000;
}
.quality-period-inner-container > p{
    letter-spacing: 0.2px;
    font-size: 24px;
    line-height: 39.5px;
    font-weight: 400;
    font-family: "Manrope";
    text-align: center;
}
@media screen and (max-width:600px){
    .quality-period-container{
        height: 600px;
    }
    .quality-period-inner-container > h1{
        size:24px;
        line-height: 32.78px;
    }
    .quality-period-inner-container > p{
        size:12px;
        line-height: 22px;
    }
}
