.testandmanagement-container{
    width: 100%;
    height: 376px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F84646;
}
.testandmanagement-inner-container{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:#FFFFFF;
}
.testandmanagement-inner-container > h1{
    font-size:48px;
    font-size:800;
    line-height: 64px;
    font-family: "Manrope";
    text-align: center;
}
.testandmanagement-inner-container > span {
    font-size:18px;
    font-weight: 400 !important;
    margin-bottom:50px;
    line-height: 32px;
}
.testandmanagement-list-area{
    width:100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-family: "Manrope";
    font-weight: 700;
    font-size:14px;
    line-height: 31px;
}
.testandmanagement-list-area div{
    flex:1;
    line-height: 21.5px;
}

@media screen and (max-width:1024px){
    .testandmanagement-inner-container{
        width:100%;
        height: 100%;
        padding:10px;
        box-sizing: border-box;
    }
    .testandmanagement-list-area{
        font-size: 14px;
        line-height: 21.5px;
    }
}

@media screen and (max-width:600px){
    .testandmanagement-list-area{
        flex-direction: column;
        height: 70%;
        font-size: 18px;
        line-height: 24.59px;
    }
    .testandmanagement-container{
        height: 600px;
    }
    
}
